h1 Nice! You're using #{@playlist['name']} as your hold music on Ringcentral!
h2 This is going to take a while. We have to download all the tracks and upload them to Ringcentral.
h3 We'll email you at #{current_user.email} when it's all done.
