h1 Use Spotify Playlists for your Hold Music
h2 Connect your Spotify Account, your Ringcentral Account, choose a playlist, and we do the rest.
= button_to 'Sign up with Spotify', '/auth/spotify?show_dialog=true', method: :post
